.mainGame {
  padding: 40px;
  display: flex;
  gap: 20px;
}

.mainGameLeft {
  /* background-color: aquamarine; */
}

.mainGameRight {
  /* background-color: cadetblue; */
  gap: 20px;
}

.diceLines {
  /* background-color: tan; */

  display: flex;
  flex-direction: column;
  gap: 10px;
}