.numRow {
  /* background-color: orchid; */
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.equalSign {
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
}

.diceLine {
  /* background-color: aliceblue; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.heiKaiTracker {
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  height: 42px;
  width: 132px;

  border-radius: 5px;

  background-color: black;
  opacity: 50%;
}