.box {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
}

.boxContain {
    position: relative;
}

/* .dirSelection {
    width: 40px;
    height: 40px;
    background-color: rgba(200, 200, 100, 0.7);
    position: absolute;
    left: 0;
    top: 0;
} */
